version: "3.9"

services:
  webapi_func:
    image: webapi_func
    build:
      context: .
      dockerfile: Dockerfile
    container_name: webapi_func
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
    networks:
      - webapi_network
    restart: on-failure
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@database:5432/postgres_db

  database:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: postgres_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "15432:5432"
    networks:
      - webapi_network

volumes:
  postgres_data:

networks:
  webapi_network:
    driver: bridge