name: Deploy to EC2

on:
  push:
    branches: [ "master", "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        password: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          cd /root/webapi_func/WebApi_Func
          git pull
          docker compose down
          docker compose up -d --build --force-recreate
